* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-title {
    color: rgb(41, 34, 34);
    font-size: 50px;
    position: absolute;
    left: 800px;
    top: 30px;
}

#grid-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: white;
    font-size: 0;
}

.square-div {
    min-width: calc(100% / 16);
    min-height: calc(100% / 16);
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    transition: all 0s ease 100000000000000000s; /*delay 1s*/
    visibility: visible;
}

.square-div:hover {
    background-color: black;
    transition-delay: 0s; 
    visibility: visible;
  
}

#btn-square {
    position: absolute;
    top: 200px;
    left: 320px;
    border-radius: 50px;
    width: 320px;
    height: 80px;
    font-size: 14px;
    background-color: rgb(54, 53, 53);
    border: 2px solid rgb(204, 195, 195);
    color: rgb(204, 195, 195);
}

